<footer>
				<div class="container-fluid">					
					<div class="row">
						<div class="col-md-8 col-sm-8 footer-left">
							<div id="ibacor_shareawesome">
								<p>
									<span class="sh-total" title="Share by @bachors">Share</span>
								</p>
								<p>
									<a href="http://www.facebook.com/sharer/sharer.php?u=http://ibacor.com/" onclick="javascript:void window.open('http://www.facebook.com/sharer/sharer.php?u=http://ibacor.com/','ibacor.com','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;" class="sh_btn sh-facebook" title="Facebook"><i class="fa fa-facebook-official"></i></a>
								</p>
								<p>
									<a href="https://twitter.com/share?text=Ican Bachors - iBacor+-+via @bachors&amp;url=http://ibacor.com/" onclick="javascript:void window.open('https://twitter.com/share?text=Ican Bachors - iBacor+-+via @bachors&amp;url=http://ibacor.com/','ibacor.com','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;" class="sh_btn sh-twitter" title="Twitter"><i class="fa fa-twitter"></i></a>
								</p>
								<p>
									<a href="https://plus.google.com/share?url=http://ibacor.com/" onclick="javascript:void window.open('https://plus.google.com/share?url=http://ibacor.com/','ibacor.com','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;" class="sh_btn sh-google" title="Google+"><i class="fa fa-google-plus"></i></a>
								</p>
								<p>
									<a href="http://reddit.com/submit?url=http://ibacor.com/&amp;title=Ican Bachors - iBacor+-+via @bachors" onclick="javascript:void window.open('http://reddit.com/submit?url=http://ibacor.com/&amp;title=Ican Bachors - iBacor+-+via @bachors','ibacor.com','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;" class="sh_btn sh-reddit" title="Reddit"><i class="fa fa-reddit"></i></a>
								</p>
								<p>
									<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://ibacor.com/&amp;title=Ican Bachors - iBacor&amp;summary=Free online web tools, SEO tools, free API, free jQuery plugin, free widget, tutorial web programming, web design, apps, games.  iBacor" onclick="javascript:void window.open('https://www.linkedin.com/shareArticle?mini=true&amp;url=http://ibacor.com/&amp;title=Ican Bachors - iBacor&amp;summary=Free online web tools, SEO tools, free API, free jQuery plugin, free widget, tutorial web programming, web design, apps, games.  iBacor','ibacor.com','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;" class="sh_btn sh-linkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
								</p>
								<p>
									<a href="http://pinterest.com/pin/create/button/?url=http://ibacor.com/&amp;media=http://ibacor.com/bcr_asset/images/bacor.jpg&amp;description=Free online web tools, SEO tools, free API, free jQuery plugin, free widget, tutorial web programming, web design, apps, games.  iBacor" onclick="javascript:void window.open('http://pinterest.com/pin/create/button/?url=http://ibacor.com/&amp;media=http://ibacor.com/bcr_asset/images/bacor.jpg&amp;description=Free online web tools, SEO tools, free API, free jQuery plugin, free widget, tutorial web programming, web design, apps, games.  iBacor','ibacor.com','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;" class="sh_btn sh-pinterest" title="Pinterest"><i class="fa fa-pinterest"></i></a>
								</p>
								<p>
									<a href="http://www.stumbleupon.com/badge/?url=http://ibacor.com/" onclick="javascript:void window.open('http://www.stumbleupon.com/badge/?url=http://ibacor.com/','ibacor.com','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;" class="sh_btn sh-stumbleupon" title="Stumbleupon"><i class="fa fa-stumbleupon"></i></a>
								</p>
								<p>
									<a href="https://bufferapp.com/add?url=http://ibacor.com/&amp;text=Free online web tools, SEO tools, free API, free jQuery plugin, free widget, tutorial web programming, web design, apps, games.  iBacor" onclick="javascript:void window.open('https://bufferapp.com/add?url=http://ibacor.com/&amp;text=Free online web tools, SEO tools, free API, free jQuery plugin, free widget, tutorial web programming, web design, apps, games.  iBacor','ibacor.com','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;" class="sh_btn sh-buffer" title="Bufferapp"><i class="fa fa-bars"></i></a>
								</p>
								<p>
									<a href="http://vk.com/share.php?url=http://ibacor.com/" onclick="javascript:void window.open('http://vk.com/share.php?url=http://ibacor.com/','ibacor.com','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;" class="sh_btn sh-vk" title="VK"><i class="fa fa-vk"></i></a>
								</p>
								<p>
									<a href="https://getpocket.com/save?title=Ican Bachors - iBacor&amp;url=http://ibacor.com/" onclick="javascript:void window.open('https://getpocket.com/save?title=Ican Bachors - iBacor&amp;url=http://ibacor.com/','ibacor.com','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;" class="sh_btn sh-pocket" title="Pocket"><i class="fa fa-get-pocket"></i></a>
								</p>
							</div>
		   

							<span class='fa fa-user'></span> <a href='http://ibacor.com/tools/whois-lookup?host=103.9.183.251'>103.9.183.251</a> | Chrome 52.0.2743.116 | Windows 10 &nbsp;&nbsp; <span class='fa fa-dashboard'></span> 0.0231 seconds &nbsp;&nbsp; <span class='fa fa-users'></span> 3,545,821						</div> 
						<div class="col-md-4 col-sm-4 footer-right">
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_BLANK">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="RG95K7HU7AFDS">
								<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
								<img alt="" border="0" src="https://www.paypalobjects.com/id_ID/i/scr/pixel.gif" width="1" height="1">
							</form>
							<a href="http://ibacor.com/tentang">Tentang</a> | <a href="http://ibacor.com/sitemap">Sitemap</a><br>
							© iBacor.com 2016. Made with <span class="fa fa-heartbeat" style="color:#f66767"></span> in Garut, Indonesia.						</div> 
					</div>
				</div>
			</footer>
